<h1> Albuns Salvos </h1>

<table>
  <thead>
    <tr>
      <th> Nome </th>
      <th> Músico </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @albuns.each do |album| %>
    <tr>
      <td><%= album.name %>></td>
      <td><%= album.musician.name %>></td>
    </tr>
  <% end %>
  </tbody>
</table>
